{% extends 'layout.html.twig' %}

{% block body %}

        <!-- Main -->
        <div id="main">

            <!-- Intro -->
            <article id="intro">
                <h2 class="major">Tickets</h2>

            </article>

        </div>

{% endblock %}
