{% extends 'layout.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center">Bonjour {{ app.user.username }}</h1>
            </div>
        </div>
    </div>

{% endblock %}
